main {
    padding: 0 160px;
    display: flex;
    flex-direction: column;
}

main h1 {
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1.1;
    color: #333;
}

main h2 {
    font-size: 32px;
    margin: 60px 0 30px 0;
    color: #333;
}

.p_style {
    font-size: 16px;
    color: #ab5e17;
}

main section {
    display: flex;
}

/*-----*/
main .main_section {
    padding: 80px 0;
    background-color: #fcfcfc;
    gap: 60px;
    align-items: center;
}

main .main_section img {
    height: 350px;
    width: 480px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

main .info_main {
    flex-direction: column;
    justify-content: space-between;
}

main .info_main .button {
    margin-top: 40px;
    width: auto;
}

/*-----*/
.libro_mes {
    padding: 40px 0;
}

.libro_mes .container_main {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.libro_mes .info_libro_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.libro_mes .info_libro p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/*------*/
.libro_mes .info_libro_container .button {
    background-color: #F2EDE8;
    width: 84px;
    height: 40px;
    margin-top: 20px;
}

.libro_mes .info_libro_container .button a {
    color: black;
}

.libro_mes img {
    flex: 1;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/*-----*/
.eventos_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 40px 0;
}

.eventos_container article {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
}


.event_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;
    background-color: #F2EDE8;
    font-size: 24px;
    color: #ab5e17;
    margin-right: 20px;
    min-width: 24px;
}

.event_icon img {
    height: 30px;
    width: 30px;
}

.eventos_container article .event_details {
    display: flex;
    flex-direction: column;
}

.eventos_container article .event_details p:first-child {
    margin: 0;
    font-size: 1.1em;
    color: #333;
}

/*------*/
main .libros_anteriores {
    gap: 40px;
    margin-top: 30px;
    justify-content: space-between;
}

main .libros_anteriores article {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    min-width: 180px;
}

main .libros_anteriores article img {
    height: 250px;
    width: 180px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

main .libros_anteriores article div p {
    margin: 5px 0 0 0;
    font-size: 1.1em;
}