.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ab5e17;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #8a4b13;
}

.button a {
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.main_section .button {
    width: auto;
    height: 50px;
}