header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
}

header div.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

header div.logo img {
    height: 30px;
    width: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
}

header nav ul li a {
    color: #666;
    font-weight: 500;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ab5e17;
}

/* Nuevo contenedor para el botón y el avatar */
.search_bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search_bar li {
    list-style: none;
}

.search_bar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}