header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

header div.logo {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 16px;
}

header div.logo img {
    height: 16px;
    width: 16px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}